body{
    margin: 0;
    background-color: beige;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
   }

   #acoes{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#consulta{
    margin: 10px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#entradacep{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
